SUBSYSTEM=="usb", ATTRS{idVendor}=="04b4", ATTRS{idProduct}=="602a", MODE="0660", GROUP="plugdev"
SUBSYSTEM=="usb", ATTRS{idVendor}=="04b5", ATTRS{idProduct}=="602a", MODE="0660", GROUP="plugdev"

